.vs/swordplay-clone/FileContentIndex/505de753-ffc4-4d0a-92ba-a5fcf5ab141a.vsidx
.vs/swordplay-clone/FileContentIndex/57173c3d-8170-4592-b738-8277db0b54d5.vsidx
.vs/swordplay-clone/FileContentIndex/de96c112-8412-4ea6-8c8c-c170c9ce8a1f.vsidx
.vs/swordplay-clone/FileContentIndex/ff2ed5e6-655a-4474-9edd-9e4b6138aa3d.vsidx
.vs/swordplay-clone/FileContentIndex/8cae7c15-3645-4108-a407-dca775d39010.vsidx
.vs/swordplay-clone/FileContentIndex/e59afbfb-168e-4d0a-8d92-2a6b562c27d9.vsidx
.vs/swordplay-clone/FileContentIndex/fcadd24c-4290-40aa-b1d9-96ce1007b962.vsidx
Library/ArtifactDB
Library/CurrentLayout-default.dwlt
Library/EditorSnapSettings.asset
Library/LastSceneManagerSetup.txt
Library/SceneVisibilityState.asset
Library/SourceAssetDB
Library/ShaderCache/EditorEncounteredVariants
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
